body {
    margin: 0;
    padding: 0;
    background-color: #F7F7F7;
    font-family: 'Lato', sans-serif;
}

* {
    box-sizing: border-box;
}

.app_wrapper {
    width:80%;
    margin: 0 auto;
    position: relative;
}
@media screen and (min-width: 768px){
    .app_wrapper{
        width: 600px;
        margin: 60px auto 20px;
    }
}

.heading {
    font-size: 1.5rem;
    text-align: center;
}

@media screen and (min-width: 768px){
    .heading {
        font-size: 2rem;
        text-align: left;
    }
}

.bold_text {
    text-transform: uppercase;
    font-weight: bold;
}

.form_wrapper {
    background-color: white;
    padding: 20px;
}

.icon {
    display:none;
}
@media screen and (min-width: 768px){
    .icon {
        display: block;
        position: absolute;
        top: -15px;
        right: -50px;
        transform: rotate(18deg);
    }
}

.label {
    display: block;
    color: #A19392;
    text-transform: uppercase;
    font-size: 0.7rem;
    text-align: center;
    margin-bottom: 10px;
}

@media screen and (min-width:768px){
    .label {
        text-align: left;
        font-size: 0.9rem;
        margin:0;
    }
}

.amount_input{
    height:2rem;
    width:80%;
    margin: 0 auto;
    border: 1px solid lightgrey;
    outline: none;
    font-size:1.5rem;
    vertical-align: middle;
    padding: 0 10px;
    display:block;
    text-align: center;

}
@media screen and (min-width:768px) {
    .amount_input {
        margin: 0;
        height: 4rem;
        width: 50%;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
        border: 1px solid lightgrey;
        border-right: none;
        font-size: 2.5rem;
        display:inline;
        text-align: left;
    }
}

.btn_submit{
    outline: none;
    margin:10px auto;
    height:2.5rem;
    width:70%;
    border-radius:2px;
    font-size:1rem;
    background-color: #59D999;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    vertical-align: middle;
    border: 1px solid lightgrey;
    display:block;
}
@media screen and (min-width:768px){
    .btn_submit {
        margin-left: -4px;
        height: 4rem;
        width: 50%;
        border-radius:10px;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        font-size: 1.2rem;
        border-left: none;
        display:inline;
    }
}

.results_wrapper {
    margin-top: 20px;
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.result {
    background-color: white;
    text-align: center;
    padding: 20px 20px;
    width: 280px;
    list-style: none;
    margin: 20px auto;
    font-size: 2rem;
    position: relative;
    display:block;
    overflow-wrap: break-word;
}
@media screen and (min-width: 768px){
    .result{
        margin: 40px 0;
        font-size: 2.5rem;
    }
}

.result:before {
    content: 'pln amount';
    text-transform: uppercase;
    color: #5E5E5E;
    display: block;
    font-size: 0.9rem;
    margin: 10px;
}

.result:after{
    font-family: FontAwesome;
    content: "\f017  " attr(data-content);
    display:block;
    position: absolute;
    font-size: 1.1rem;
    bottom: -1.5rem;
    left: 0;
    padding-right: 3px;
    vertical-align: middle;
    margin-top: 15px;
    color:#9C9C9C;
}

